div#oreo  {
    position: relative;
    text-align: center;
}

div#oreo img {
    position: absolute;
    padding-left: 45%;
}

body {
    text-align: center;
    position: relative;
    background-color: floralwhite;
    margin-bottom: 10%;
}

#meme {
    width: 50%;
    position: relative;
    margin-bottom: 40px;
}

input {
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    #meme {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }
}