div#oreo  {
    position: relative;
    text-align: center;
}

div#oreo img {
    position: absolute;
    padding-left: 45%;
}

body {
    text-align: center;
    position: relative;
    background-color: #f8f8f6;
    margin-bottom: 10%;
}

h1 {
    font-size: 3em;
}

#meme {
    width: 50%;
    position: relative;
    margin-bottom: 40px;
}

input {
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    /* h1 {
        font-size: 3rem;
        
    } */
    
    #meme {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }
}